*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Verdana'

.header
  background url("https://source.unsplash.com/0JLtIfJvPsE/1600x900") no-repeat center;
  background-size cover;
  height 300px;

  .page-title
    font-weight 200
    font-size 4em
    text-align center
    padding-top 2em
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 1em 3em
    color #fff
    text-decoration none
    transition: background-color .3s ease-in

    &:hover
      background-color tomato
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em
    font-size 2em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 1em 0

  p
    color #444
    font-size .8em
